@charset "UTF-8"; 
#wrap {
  margin: auto;
}
#header {
  margin: auto;
  margin-top: -140px;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(238, 238, 238);
  display: inline-block;
  position: fixed;
  right: 0;
  left: 0;
  word-break: break-all;
  z-index: 9999;
}
.header_wrap {
  width: 1900px;
  margin: auto;
}
#header .util_m {
  height: 40px;
  width: 100%;
  background: #eeee;
}
#header .util_m ul {
  text-align: center;
  height: 40px;
  width: 48%;
  padding-right: 14%;
}
#header .util_m li {
  display: inline-block;
  font-size: 14px;
  word-spacing: 1px;
  margin-right: 3%;
  margin-bottom: -12px;
}
#header .util_m .btn {
  width: 60px;
  height: 40px;
  background: url(/images/Capture.png) no-repeat 100% center;
  background-size: cover;
}

/* ----------gnb----------- */

#header .gnb {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  width: 100%;
  margin: auto;
}
#header .gnb_box {
  display: inline-block;
  width: 1900px;
  margin: auto;
  margin-left: 15%;
}
#header .gnb ul {
  margin-left: 3%;
}
#header .gnb li {
  float: left;
  line-height: 100px;
  padding: 0px 75px 0px 30px;
}
#header .gnb li a {
  font-size: 16px;
  font-weight: bold;
  line-height: 3.5;
  text-align: center;
}
#header .gnb .logo {
  background: url(/images/coffeebin_image23.png) no-repeat 50%;
  background-size: cover;
  width: 105px;
  height: 80px;
  margin: 0.6% 3% auto;
}
/* ----------banner----------- */
.main_wrap {
  width: 1200px;
  margin: 55px auto 0;
}
#main_content {
  width: 100%;
  margin: auto;
}
#main_content .main_banner {
  height: 700px;
  background: url(/images/coffeebin_image3.jpg) no-repeat center 50%;
  display: block;
}
#main_content .sub_banner {
  height: 400px;
  background: url(/images/coffeebin_image1.jpg) no-repeat center 50%;
}

/* ----------content------------ */
.main_wrap h2 {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
  font-size: 35px;
  color: rgb(207, 102, 26);
  margin: 10px 10px 10px 10px;
  font-weight: 500;
  font-family: "Archer-Semibold", "NanumBarunGothic", sans-serif;
}
.swiper-slide {
  display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper {
    width: 100%;
    height: 100%;
 }
.mySwiper01,
.mySwiper02 {
  text-align: center;
  flex-wrap: wrap;
  display: flex;
}
.imglist1, .imglist2 {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------swiper1 ------- */
.mySwiper01 {
  height: 640px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.mySwiper01 .slidebox1 {
  width: 4200px;
  height: 455px;
}
.mySwiper01 a {
  display: block;
  width: 300px;
  height: 300px;
}
      .swiper-button-next .btn01 {
        position: absolute;
        right:-2px;
      }
      .swiper-button-prev .btn01 {
        position: absolute;
        left:-2px;
      }
.mySwiper01 .pic,
.pic02,
.pic03,
.pic04,
.pic05,
.pic06,
.pic07,
.pic08 {
  background: url(/images/coffeebin_image11.jpg) no-repeat;
  background-size: cover;
  margin: auto;
  width: 300px;
  height: 300px;
}
.pic02 {
  background: url(/images/coffeebin_image13.jpg) no-repeat;
}
.pic03 {
  background: url(/images/coffeebin_image8.jpg) no-repeat;
}
.pic04 {
  background: url(/images/coffeebin_image15.jpg) no-repeat;
}
.pic05 {
  background: url(/images/coffeebin_image9.jpg) no-repeat;
}
.pic06 {
  background: url(/images/coffeebin_image8.jpg) no-repeat;
}
.pic07 {
  background: url(/images/coffeebin_image17.jpg) no-repeat;
}
.pic08 {
  background: url(/images/coffeebin_image15.jpg) no-repeat;
}
.text_box {
  display: block;
  width: 300px;
  height: 150px;
  padding: 0 10px;
  text-align: center;
}
.txt1 {
  display: block;
  max-height: 40px;
  word-break: break-all;
  word-spacing: -5px;
  letter-spacing: -1px;
  margin: 15px 0px 5px 0px;
  font-family: "Archer-Semibold", "NanumBarunGothic" sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: rgb(51, 51, 51);
}
.ml {
  font-size: 20px;
  font-weight: 500;
  font-family: "Archer-Semibold", "NanumBarunGothic" sans-serif;
}
.txt2 {
  display: block;
  font-family: "NanumBarunGothic";
  font-size: 14px;
  color: rgb(207, 102, 26);
}

/* ------.mySwiper02 ------- */
.mySwiper02 {
  height: 720px;
  overflow: hidden;
  width: 100%;
  margin: auto;
}
.mySwiper02 .slidebox2 {
  width:8200px;
  height:585px;
}
.mySwiper02 a {
  display: block;
  width: 380px;
  height: 585px;
}
.swiper-button-next{
  position: absolute;
  top: 40%;
  right: 0%;
}
.swiper-button-prev{
  position: absolute;
  top: 40%;
  left: 0%;
}

.mySwiper02 .imglist2 .pic,
.pic2,.pic3,.pic4,.pic5,.pic6,.pic7,.pic8,.pic9,.pic10,.pic11,.pic12,.pic13,.pic14,.pic15 {
  background: url(/images/coffeebin_image50.jpg) no-repeat center;
  background-size: cover;
  margin: auto;
  width: 380px;
  height: 470px;
  overflow: hidden;
}
.pic2 {
  background: url(/images/coffeebin_image59.jpg) no-repeat center;
}
.pic3 {
  background: url(/images/coffeebin_image57.jpg) no-repeat center;
}
.pic4 {
  background: url(/images/coffeebin_image54.jpg) no-repeat center;
}
.pic5 {
  background: url(/images/coffeebin_image57.jpg) no-repeat center;
}
.pic6 {
  background: url(/images/coffeebin_image43.jpg) no-repeat center;
}
.pic7 {
  background: url(/images/coffeebin_image39.jpg) no-repeat center;
}
.pic8 {
  background: url(/images/coffeebin_image36.jpg) no-repeat center;
}
.pic9 {
  background: url(/images/coffeebin_image31.jpg) no-repeat center;
}
.pic10 {
  background: url(/images/coffeebin_image27.jpg) no-repeat center;
}
.pic11 {
  background: url(/images/coffeebin_image55.jpg) no-repeat center;
}
.pic12 {
  background: url(/images/coffeebin_image71.jpg) no-repeat center;
}
.pic13 {
  background: url(/images/coffeebin_image71.jpg) no-repeat center;
}
.pic14 {
  background: url(/images/coffeebin_image67.jpg) no-repeat center;
}
.pic15 {
  background: url(/images/coffeebin_image63.jpg) no-repeat center;
}
.text_box2 {
  width: 380px;
  height: 90px;
  padding: 20px 40px;
  text-align: center;
}
.txt3 {
  display: block;
  margin-bottom: 15px;
  font-family: "Archer-Semibold", "NanumBarunGothic", sans-serif;
  font-size: 18px;
  color: rgb(207, 102, 26);
  line-height: 18px;
}

/* ------- promotion ------- */
.promotion h2 {
  width: 100%;
  margin: 0 0 40px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.promotion {
  width: 100%;
  height: 723px;
  padding: 55px 0 40px;
  text-align: center;
  background: rgb(124, 81, 161);
}
.promotion .pro_insta {
  height: 200px;
  width: 1200px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin: auto;
}
.promotion li {
  background: url(/images/coffeebin_image19.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(2) {
  background: url(/images/coffeebin_image70.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(3) {
  background: url(/images/coffeebin_image66.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(4) {
  background: url(/images/coffeebin_image71.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(5) {
  background: url(/images/coffeebin_image75.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(6) {
  background: url(/images/coffeebin_image62.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(7) {
  background: url(/images/coffeebin_image58.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(8) {
  background: url(/images/coffeebin_image54.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(9) {
  background: url(/images/coffeebin_image25.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(10) {
  background: url(/images/coffeebin_image22.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(11) {
  background: url(/images/coffeebin_image44.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(12) {
  background: url(/images/coffeebin_image38.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion .btn1 {
  display: inline-block;
  text-align: center;
  width: 400px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #fff;
  background: rgb(243, 130, 0);
  margin-top: 270px;
}

/* ------- footer ------- */
#footer {
  width: 100%;
  height: 300px;
  background: #eeee;
}
.inner_footer {
  position: relative;
  top: 30%;
  width: 1200px;
  margin: auto;
  padding-top: 18px;
  border-top: 1px solid rgb(95, 77, 63);
}
.f_sns {
  box-sizing: border-box;
  width: 205px;
  height: 53px;
  display: inline-block;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin: auto;
}
.f_sns a {
  width: 40px;
  height: 40px;
  background-size: cover;
  text-indent: -99999px;
  float: left;
}
.f_sns .fb {
  background: url(/images/coffeebin_image13.png) center 100% no-repeat;
}
.f_sns .insta {
  background: url(/images/coffeebin_image16.png) center 100% no-repeat;
}
.f_sns .blog {
  background: url(/images/coffeebin_image12.png) center 100% no-repeat;
}
.f_sns .twit {
  background: url(/images/coffeebin_image20.png) center 100% no-repeat;
}
.f_service a {
  display: inline-block;
  font-size: 13px;
  margin: 0 5px;
  color: rgb(95, 77, 63);
}
.f_service .im {
  color: rgb(243, 130, 0);
}
.f_address {
  box-sizing: border-box;
  width: 655px;
  margin-top: 10px;
  word-break: keep-all;
}
.f_address span {
  font-family: "NanumBarunGothic";
  font-size: 13px;
  color: rgb(95, 77, 63);
  line-height: 24px;
}
