#wrap {
  width: 1900px;
}
#header {
  margin:auto;
  margin-top: -140px;
  background: rgb(255,255,255);
  border-bottom: 1px solid rgb(238,238,238);
  display: block;
  z-index: -99999px;
  position: fixed;
}
#header .util_m {
  height: 140px;
  width: 100%;
  background: silver;
}
#header .util_m {
  height: 40px;

}
#header .util_m ul {
  text-align: center;
  display: inline-block;
  margin:auto;
  width: 1200px;
  height: 40px;
}

#header .util_m li {
  display: inline-block;
  font-size: 14px;
  word-spacing: 1px;
  margin-right: 20px;
  margin-bottom: -12px;
}
#header .util_m .btn {
  width: 60px;
  height: 40px;
  background: url(/project2/images/Capture.png) no-repeat 100% center ;
  background-size: cover;
  display: block;
  
}
  

/* ----------gnb----------- */

#header .gnb {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  width: 100%;
  margin: auto;
}
#header .gnb_box {
  display: inline-block;
  width: 1900px;
  margin-left: 15%
}
#header .gnb ul {
  margin-left: 30px;
}
#header .gnb li {
  float: left;
  line-height: 100px;
  padding: 0px 60px 0px 32px;

}
#header .gnb li a {
  font-size: 14px;
  font-weight: 700;
  line-height: 3.5;
  text-align: center;
}
#header .gnb .logo {
  background: url(/project2/images/coffeebin_image23.png) no-repeat 50%;
  background-size: cover;
  width: 105px;
  height: 80px;
  margin: 10px 80px 0px 0px;
}

/* ----------banner----------- */
.main_wrap {
  width: 1200px;
  margin: 55px auto 0;
}
#main_content {
  width: 1900px;
}
#main_content .main_banner {
  height: 700px;
  background: url(/project2/images/coffeebin_image3.jpg) no-repeat center 50%;
  display: block;
}
#main_content .sub_banner {
  height: 400px;
  background: url(/project2/images/coffeebin_image1.jpg) no-repeat center 50%;
}

/* ----------content------------ */
.MD_slider,
.NEW_slider {
  background: #eaeaea;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.main_wrap h2 {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  font-size: 35px;
  color: rgb(207, 102, 26);
  margin: 10px 10px 10px 10px;
  font-weight: 500;
  font-family: "Archer-Semibold", "NanumBarunGothic", sans-serif;
}
.sl_control {
  height: 10%;
  width: 100%;
  border: solid 1px;
  background: #fff;
  display: flex;
}

/* -------MD_slider ------- */
.MD_slider {
  height: 640px;
  overflow: hidden;
}
.MD_slider .slide_box1 {
  width: 1200px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.MD_slider a {
  display: block;
  width: 300px;
  height: 300px;
}
.MD_slider .pic,
.pic02,
.pic03,
.pic04 {
  background: url(../images/coffeebin_image11.jpg) no-repeat;
  background-size: cover;
  margin: auto;
  width: 300px;
  height: 300px;
}
.pic02 {
  background: url(../images/coffeebin_image13.jpg) no-repeat;
}
.pic03 {
  background: url(../images/coffeebin_image8.jpg) no-repeat;
}
.pic04 {
  background: url(../images/coffeebin_image5.jpg) no-repeat;
}
.text_box {
  display: block;
  width: 300px;
  height: 150px;
  padding: 0 10px;
  text-align: center;
}
.txt1 {
  display: block;
  max-height: 44px;
  word-break: break-all;
  word-spacing: -5px;
  letter-spacing: -1px;
  margin: 15px 0px 10px 0px;
  font-family: "Archer-Semibold", "NanumBarunGothic" sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: rgb(51, 51, 51);
}
.ml {
  font-size: 16px;
  font-family: "Archer-Semibold", "NanumBarunGothic" sans-serif;
}
.txt2 {
  display: block;
  font-family: "NanumBarunGothic";
  font-size: 14px;
  color: rgb(207, 102, 26);
}

/* -------NEW_slider ------- */
.NEW_slider {
  height: 720px;
  overflow: hidden;
}
.NEW_slider .slide_box2 {
  width: 1200px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.NEW_slider a {
  display: block;
  width: 380px;
  height: 585px;
}

.NEW_slider .box2_info .pic,
.pic2,
.pic3 {
  background: url(../images/coffeebin_image50.jpg) no-repeat center;
  background-size: cover;
  margin: auto;
  width: 380px;
  height: 470px;
  overflow: hidden;
}
  .pic2 {
    background: url(../images/coffeebin_image59.jpg) no-repeat center;
}
  .pic3 {
    background: url(../images/coffeebin_image57.jpg) no-repeat center;
}
.text_box2 {
  width: 380px;
  height: 90px;
  padding: 0 40px;
  text-align: center;
}
.txt3 {
  display: block;
  margin-bottom: 15px;
  font-family: "Archer-Semibold", "NanumBarunGothic", sans-serif;
  font-size: 18px;
  color: rgb(207, 102, 26);
  line-height: 18px;
}

/* ------- promotion ------- */
.promotion h2 {
  margin: 0 0 25px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.promotion {
  width: 100%;
  height: 823px;
  padding: 55px 0 40px;
  text-align: center;
  background: rgb(124, 81, 161);
}
.promotion .pro_insta {
  height: 600px;
  width: 900px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin: auto;
}
.promotion li {
  background: url(../images/coffeebin_image19.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(2) {
  background: url(../images/coffeebin_image70.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(3) {
  background: url(../images/coffeebin_image66.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(4) {
  background: url(../images/coffeebin_image71.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(5) {
  background: url(../images/coffeebin_image75.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(6) {
  background: url(../images/coffeebin_image62.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(7) {
  background: url(../images/coffeebin_image58.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(8) {
  background: url(../images/coffeebin_image54.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(9) {
  background: url(../images/coffeebin_image25.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(10) {
  background: url(../images/coffeebin_image22.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(11) {
  background: url(../images/coffeebin_image44.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion li:nth-child(12) {
  background: url(../images/coffeebin_image38.jpg) center 100% no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
.promotion .btn {
  display: inline-block;
  text-align: center;
  width: 400px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #fff;
  background: rgb(243, 130, 0);
  margin-top: 30px;
}

/* ------- footer ------- */
#footer {
  width: 100%;
  height: 300px;
  background: silver;
}
.inner_footer {
  position:relative;
  top: 30%;
  width: 1200px;
  margin: auto;
  padding-top: 18px;
  border-top: 1px solid  rgb(95,77,63);
}
.f_sns {
  box-sizing: border-box;
  width: 205px;
  height: 53px;
  display: inline-block;
  flex-wrap: wrap;
  display: flex;
  justify-content:space-between;
  align-content: space-between;
  margin: auto;
}
.f_sns a {
  width: 40px;
  height: 40px;
  background-size: cover;
  text-indent: -99999px;
  float:left;
}
.f_sns .fb {
  background: url(/project2/images/coffeebin_image13.png) center 100% no-repeat;
}
.f_sns .insta {
  background: url(/project2/images/coffeebin_image16.png) center 100% no-repeat;
}
.f_sns .blog {
  background: url(/project2/images/coffeebin_image12.png) center 100% no-repeat;
}
.f_sns .twit {
  background: url(/project2/images/coffeebin_image20.png) center 100% no-repeat;
}
.f_service a {
  display: inline-block;
  font-size: 13px;
  margin: 0 5px;
  color: rgb(95,77,63);
 
}
.f_service .im {
  color:rgb(243, 130, 0)
}
.f_address {
  box-sizing: border-box;
  width: 655px;
  margin-top: 10px;
  word-break: keep-all;
}
.f_address span {
  font-family: 'NanumBarunGothic';
  font-size: 13px;
  color: rgb(95,77,63);
  line-height: 24px;

}